$baseSpeedTransition: all 0.15s ease-in-out;

$color1: #1A1A1A;
$color2: #E4E2E2;
$color3: #F0F0F0;
$color4: #B1B1B1;
$color5: #464646;
$color6: #F6F6F6;
$color7: #EA2828;
$color8: #DADCE0;

$colorBlue: #0D78FF;
$colorBlueLight: #E6F3FD;
$colorBlueHover: #0B68DD;
$colorBlueActive: #0358C3;