.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
  color: #FFFFFF;
  padding: 33.5px 0 31.5px;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: inline-flex;
  font-family: 'Raleway-v4020';
  font-size: 28px;
  font-weight: 800;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;

  span {
    color: #43ABF0;
  }
}

.nav {
  display: flex;
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;

  &-item {
    &:not(:last-child) {
      margin-right: 60px;
    }

    &__link {
      color: #FFFFFF;
      text-decoration: none;
      transition: $baseSpeedTransition;

      &:hover,
      &.is-active {
        color: #43ABF0;
      }
    }
  }
}

@media (max-width: (1023px)) {
  .nav {
    &-item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}

@media (max-width: (767px)) {
  .header {
    padding: 13px 0 13px;
  }
}

@media (max-width: (600px)) {
  .header {
    &-inner {
      flex-wrap: wrap;
    }
  }

  .nav {
    width: 100%;
    margin-top: 7px;
  }

  .logo {
    font-size: 24px;
  }
}