section(id="target-about" class="hello")
    div(class="hello__bg bg-cover")
        img(src="img/hello-bg.jpg")
    div(class="container")
        div(class="hello-inner")
            h1 <span>Lorem ipsum</span> dolor sit ametconsectetur <span>adipiscing</span>
            div(class="hello-content")
                p At vero eos et accusamus et iusto odio dignissimos ducimus!
                ul
                    li
                        svg
                            use(xlink:href="img/sprites/sprite.svg#list")
                        | Totam rem aperiam eaque ipsa
                    li
                        svg
                            use(xlink:href="img/sprites/sprite.svg#list")
                        | Sit voluptatem accusantium doloremque laudantium
                    li
                        svg
                            use(xlink:href="img/sprites/sprite.svg#list")
                        | Sed ut perspiciatis, unde omnis iste natus error
            div(class="hello-buttons")
                button(type="button" class="btn btn--blue btn--small")
                    span заказать
                button(type="button" class="btn btn--black btn--small")
                    span подробнее