footer(class="footer")
    div(class="container")
        div(class="footer-inner")
            p(class="footer__copyright") © 2018 «LOREMIPSUM.NET» Все права защищены.
            div(class="footer-items")
                div(class="footer-item")
                    span(class="footer-link")
                        span(class="footer-link__icon")
                            svg
                                use(xlink:href="img/sprites/sprite.svg#qiwi")
                        | QIWI wallet
                    span(class="footer-link")
                        span(class="footer-link__icon")
                            svg
                                use(xlink:href="img/sprites/sprite.svg#ym")
                        | Yandex Money
                    span(class="footer-link")
                        span(class="footer-link__icon")
                            svg
                                use(xlink:href="img/sprites/sprite.svg#wm")
                        | Web Money
                div(class="footer-item")
                    a(href="mailto:info@ipsum228.com" class="footer-link")
                        span(class="footer-link__icon")
                            svg
                                use(xlink:href="img/sprites/sprite.svg#email")
                        | info@ipsum228.com
                    a(href="#" class="footer-link")
                        span(class="footer-link__icon")
                            svg
                                use(xlink:href="img/sprites/sprite.svg#vk")
                        | Мы вконтакте